html, body{
    font-size: 100%;
	background-color: #F5F5F5 !important;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Josefin Sans', sans-serif;
}
main{
	margin-top: 100px;
}
p{
	margin-top: 10px !important;
	padding-top: 15px;
	padding-bottom: 15px;
}
footer{
	padding-top: 20px;
}
.row-height {
	display: flex;
	align-items: center;
}
.rootLR{
	border: solid 1px #DCDCDC;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.input_form{
	margin: 35px 0 30px 0;
}
.login_button{
	margin-top: 50px;
	width: 200px;
	background-color: #009d98;
	padding: 6px 10px 6px 10px;
}
.login_button a{
	color: #ffffff;
	text-decoration: none;
}

@media (max-width: 874px){
	main{
  		margin-top: 0px;
	}
}