<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--
            This template is provided for free of charge by Email on Acid, LLC.

            Every email client is different. See exactly how your email looks in the most popular inboxes, so you can fix any problems before you hit send.
            https://www.emailonacid.com/
        -->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Block Chain Explorer</title>
        <style type="text/css">
    
        </style>
    </head>
    <body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Georgia, Times, serif;font-family:Microsoft JhengHei;">
        <!-- navigation bar -->
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #F5F5F5;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src='../static/img/logo.png' width="160px;" style="margin-top: -10px;"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="blockchain.html" style="font-size: 20px; margin-top: 2pt;">Dashboard</a></li>
                </ul>
                <div style="float: right;">
                    <div class="form-group" style="float: right; margin-top: 8pt;width:300pt;padding-right: 20pt;">
                        <button type="button" class="btn search" style="float: right;background-color: orange;">GO</button>
                        <div style="float: right;margin-right: 1pt;">
                            <input type="text" class="form-control" id="input_v" style="width: 100%;">   
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div style="width: 90%;margin-left: 5%;background-color: #DDDDDD;float: left;padding-top: 100px;padding-bottom: 30pt;">
            <div class="col-md-6">
                <div style="width: 100%;height: 40pt;width: 90%;margin-left: 5%;background-color: #F8F8FF;">
                    <p style="float: left;font-size: 18pt;margin-top: 5pt;font-family:Microsoft JhengHei;">。BLOCKS</p>
                </div>
                <div style="width: 100%;height: 430pt;width: 90%;margin-left: 5%;background-color: #F8F8FF;margin-top: 1px;overflow-y: scroll;" class="blocks">
                    

                    <div style='width: 100%;height:70pt;padding: 5pt;padding-left: 8pt;font-family:Microsoft JhengHei;border-bottom: solid 1pt #DDDDDD;border-left: solid 1pt orange;'>
                        <div style='height: 100%;width: 90pt;float: left;background-color:  #888888;padding-top: 12pt;' align="center">
                            <a href='#'><p style='color: white;'>Block<br>3733099</p></a>
                        </div>
                        <div style='height: 100%;float: left;padding-left: 8pt;padding-top: 10pt;'>
                            <p style='float: left;'>21 txns</p><br>
                            <p style='float: left;'>Block Reward 5.01673 Ether</p><br>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <div style="width: 100%;height: 40pt;width: 90%;margin-left: 5%;background-color: #F8F8FF;">
                    <p style="float: left;font-size: 18pt;margin-top: 5pt;font-family:Microsoft JhengHei;">。TRANSACTIONS</p>
                </div>
                <div style="width: 100%;height: 430pt;width: 90%;margin-left: 5%;background-color: #F8F8FF;margin-top: 1px;overflow-y: scroll;" class="transactions">
                    

                    <div style='width: 100%;height:70pt;padding: 5pt;padding-left: 8pt;font-family:Microsoft JhengHei;border-bottom: solid 1pt #DDDDDD;border-left: solid 1pt orange;'>
                        <div style='height: 100%;width: 20pt;float: left;padding-top: 12pt;' align='center'>
                            <img src='../static/img/transaction.png' style='width: 100%;'>
                        </div>
                        <div style='height: 100%;float: left;padding-left: 8pt;'>
                            <p style='float: left;text-overflow: ellipsis;' class='ellipsis'>TX# <a href='#'>0XC22CEAEB0F5B9A276F604BD1CCFEC11F2DB3F1D8D45F4843AA0297F0A01E0872</a></p><br>
                            <p style='float: left;text-overflow: ellipsis;' class='ellipsis'>From <a href='#'>0x00472c1e4275230354dbe5007a5976053f12610a</a> To <a>0xcd111aa492a9c77a367c36e6d6af8e6f212e0c8e</a></p><br>
                            <p style='float: left;text-overflow: ellipsis;' class='ellipsis'>Amount 0 Ether</p><br>
                        </div>
                    </div>




                </div>
            </div>
        </div>


        <footer style="width: 100%;height: 70pt;background-color: gray;float: left;">
            
        </footer>
    </body>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
           loadall();
        });

        function loadall(){

            number = 85301;
            for (var i = 0; i <= 10; i++) {
                $('.blocks').append("<div style='width: 100%;height:70pt;padding: 5pt;padding-left: 8pt;font-family:Microsoft JhengHei;border-bottom: solid 1pt #DDDDDD;border-left: solid 1pt orange;'><div style='height: 100%;width: 90pt;float: left;background-color:  #888888;padding-top: 12pt;' align='center'><a href='#'><p style='color: white;'>Block<br>"+number+"</p></a></div><div style='height: 100%;float: left;padding-left: 8pt;padding-top: 10pt;'><p style='float: left;color:#0088A8;'>"+number+" txns</p><br><p style='float: left;'>Block Reward "+number+" Ether</p><br></div></div>"
                    );
            }


            blockHash = "0x9e89f44ba213df6aa4fa35578c09954b9e23bd9a97d3b34b10b53665c59ff311"
            from = "0xcb3dce3b17320e5becf8a2c1ffcf329fa7e87069"
            to = "0x11bdefdc7179d1e8760f9ddbd70d40ae2024923d"
            for (var i = 0; i <= 10; i++) {
                $('.transactions').append("<div style='width: 100%;height:70pt;padding: 5pt;padding-left: 8pt;font-family:Microsoft JhengHei;border-bottom: solid 1pt #DDDDDD;border-left: solid 1pt orange;'><div style='height: 100%;width: 20pt;float: left;padding-top: 12pt;' align='center'><img src='../static/img/transaction.png' style='width: 100%;'></div><div style='height: 100%;float: left;padding-left: 8pt;'>TX# <a href='#' class='ellipsis'><p>"+blockHash+"</p></a><br><p style='float: left;margin-top:10pt;'>From  <a href='#' class='addre'>"+from+"</a> To <a href='#' class='addre'>"+to+"</a></p><br><p style='float: left;text-overflow: ellipsis;' class='ellipsis'>Amount 0 Ether</p><br></div></div>"
                    );
            }
            //alert(id);
            $.ajax({
                type:'GET',
                url: 'http://140.114.77.15:'+currentURL.port+'/diary/api/v1/get?did='+id,
                success:function(response){
                    result = response
                    
                    var date = result[0]['diary']['date'];
                    var title = result[0]['diary']['title'];
                    var location = result[0]['diary']['location'];
                    var content = result[0]['diary']['content'];
                    var portrait = result[0]['owner']['portrait'];
                    var name = result[0]['owner']['name'];
                    //var lat = result[i]['diary']['latitude'];

                    if(date==null){
                        date='';
                    }

                    //alert(lat);
                    $('#diary_title').append(title);
                    $('#diary_date').append(date+' '+location);
                    $('#diary_content').append(content);
                    $('#author_img').attr("src",portrait);
                    $('#author').append(name);
                },   
                error:function(error){
                    console.log(error);
                }
            });  

            $.ajax({
                type:'GET',
                url: 'http://140.114.77.15:'+currentURL.port+'/comment/api/v1/get?did='+id,
                success:function(response){
                    comment_res = response;
                    for(var j=0; j<comment_res.length; j++){
                        var comment_content = comment_res[j]['comment']['content'];
                        var comment_date = comment_res[j]['comment']['date'];
                        var comment_name = comment_res[j]['commentator']['name'];
                        var comment_portrait  = comment_res[j]['commentator']['portrait'];

                        $('#full_comment').append('<div class="comment_item"><div id="comment_info" class="col-xs-3"><img src="'+comment_portrait+'"/><div>'+comment_name+'</div><div>'+comment_date+'</div></div><div id="comment_content" class="col-xs-9"><p>'+comment_content+'</p></div><div class="clearfix"> </div></div>');
                    } 
                },   
                error:function(error){
                    console.log(error);
                }
            });
        }
    </script>
    <script>
    $(function(){
        var len = 40; // 超過50個字以"..."取代
        $(".ellipsis").each(function(i){
            if($(this).text().length>len){
                $(this).attr("title",$(this).text());
                var text=$(this).text().substring(0,len-1)+"...";
                $(this).text(text);
            }
        });
    });
    </script>
    <script>
    $(function(){
        var len = 15; // 超過50個字以"..."取代
        $(".addre").each(function(i){
            if($(this).text().length>len){
                $(this).attr("title",$(this).text());
                var text=$(this).text().substring(0,len-1)+"...";
                $(this).text(text);
            }
        });
    });
    </script>
    <script type="text/javascript">
        $(".search").click(function(){
            value = $('#input_v').val()
            if(value != ""){
                window.location.replace("blockchain_search.html?v="+value);
            }
        });
    </script>
</html>
