<!DOCTYPE html>
<html lang="zh-tw">
<head>
<title>iCredible</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- CSS files start -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files start -->
</head>
<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #F5F5F5;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src='../static/img/logo.png' width="160px;" style="margin-top: -10px;"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="blockchain.html" style="font-size: 20px; margin-top: 2pt;">Dashboard</a></li>
            </ul>
            <div style="float: right;">
                <div class="form-group" style="float: right; margin-top: 8pt;width:300pt;padding-right: 20pt;">
                    <button type="button" class="btn search" onclick="search_submit();" style="float: right;background-color: orange;">GO</button>
                    <div style="float: right;margin-right: 1pt;">
                        <input type="text" class="form-control" id="input_v" style="width: 100%;">   
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <!--<hr style='border: 1px solid #009d98;'>-->
        <div class="main_info">
            <div class="row">
                <div class="col-md-6">
                    <div class="personal_info" style="margin: 0 auto;">
                        <div class="col-md-6" >
                            <img src="../static/img/user.png" style="width: 180px; margin-left: 20px;">
                        </div>
                        <div class="col-md-6">
                            <h4 id="usr_name">Name</h4>
                            <h4 id="usr_email">E-mail</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="border-left: 3px solid #bbb;">
                    <div style="width: 65%; margin: 0 auto">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-code"></i><span>All Comments</span></label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-pencil-square-o"></i><span>Comments from Buyers</span></label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3"><i class="fa fa-bar-chart-o"></i><span>Comments from Sellers</span></label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4"><i class="fa fa-folder-open-o"></i><span>Comments to Others</span></label>


            <section id="content1" class="tab-content">
                <table class="TB_COLLAPSE">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Item</th>
                            <th>Name</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                </table>
            </section>

            <section id="content2" class="tab-content">
                <table class="TB_COLLAPSE">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Item</th>
                            <th>Name</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                </table>
            </section>

            <section id="content3" class="tab-content">
                <table class="TB_COLLAPSE">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Item</th>
                            <th>Name</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                </table>
            </section>

            <section id="content4" class="tab-content">
                <table class="TB_COLLAPSE">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Item</th>
                            <th>Name</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>somthing</td>
                        <td>toby</td>
                        <td>gooooooooooooood!!!!!!!</td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</body>

<!-- JavaScript files start -->
<!-- jQuery -->
<script src="../static/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/login.js"></script>
<script type="text/javascript" src="../static/js/Chart.js"></script>
<script type="text/javascript" src="../static/js/load_chart.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    init_person();
});
</script>
</html>
