<!DOCTYPE html>
<html lang="zh-tw">
<head>
<title>iCredible</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- CSS files start -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files start -->
</head>
<body>
  <span class="root col-md-8 col-md-offset-2">
    <main>
      <article>
        <div class="row-height">
          <div class="col-centered" align="center">
            <div class="rootLR">
              <img src="img/logo.png" style="width: 300px;">
              <!--<h3 style="color: #999;">- Dat Day we met -</h3>-->
              <!--registration form-->
              <div id="registration_form">
                <form>
                  <div class="input_form">
                    <input id="id_num" type="text" style="color: #999; padding: 6px;" value="ID Card Number"/>
                  </div>
                  <div class="input_form">
                    <input id="pwd" type="text" style="color: #999; padding: 6px;" value="Password"/>
                  </div>
                  <div class="login_button"><a href="javascript: fb_login();">Login</a></div>
                  <div class="register">Or <a href="register.html">Register</a></div>
                  <p class="_rpioj">Once login, you agree to our <a class="_m4qul" href="/legal/terms/" target="_blank">Terms of Use </a>ie <a class="_m4qul" href="http://privacypolicies.com/privacy/view/DzCxEZ" target="_blank">Privacy Policy</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
    <footer class="root col-md-12" role="contentinfo">

    </footer>
  </span>
</body>

<!-- JavaScript files start -->
<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="../static/js/login.js"></script>-->
</html>